<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="app_name" value="DevControl App"/>
		<add key="program_configured" value="false"/>				
		<add key="path_database" value=""/>
		<add key="start_with_windows" value="false"/>
		<add key="hide_program_closing" value="true"/>
	</appSettings>
</configuration>